# Stack Overflow Survey — Data Analysis Project

# Project Overview

This project analyzes the Stack Overflow Developer Survey 2025 to explore key trends in the global developer market.

The analysis focuses on:

Remote and hybrid work adoption

Python popularity across demographics

Learning paths (especially online education)

Compensation patterns by geography and industry

Characteristics of high-paid remote developers

The final outcome of this project is a BI-ready dataset used to build a professional Tableau dashboard.

# Libraries & Environment Setup

In [1]:
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# Data Loading

We load two datasets provided by Stack Overflow:

survey_results_public.csv — main dataset with respondents’ answers

survey_results_schema.csv — metadata describing survey questions

The low_memory=False parameter is used to correctly infer data types in large CSV files.

In [2]:
public = pd.read_csv('../data/survey_results_public.csv', low_memory=False)
schema = pd.read_csv('../data/survey_results_schema.csv')

# Initial Data Inspection

We begin by examining:

dataset structure

column data types

basic statistics

presence of missing values and duplicates

This step ensures a solid understanding of data quality before analysis.

In [3]:
public.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49191 entries, 0 to 49190
Columns: 172 entries, ResponseId to JobSat
dtypes: float64(52), int64(1), object(119)
memory usage: 64.6+ MB

In [4]:
public.describe()

,ResponseId,WorkExp,YearsCode,TechEndorse_1,TechEndorse_2,TechEndorse_3,TechEndorse_4,TechEndorse_5,TechEndorse_6,TechEndorse_7,...,SO_Actions_3,SO_Actions_4,SO_Actions_5,SO_Actions_6,SO_Actions_9,SO_Actions_7,SO_Actions_10,SO_Actions_15,ConvertedCompYearly,JobSat
count,49191.000000,42893.000000,43042.000000,35975.000000,35975.000000,35975.000000,35975.000000,35975.000000,35975.000000,35975.000000,...,26260.000000,26260.000000,26260.000000,26260.000000,26260.000000,26260.000000,26260.000000,26260.000000,2.394700e+04,26670.000000
mean,24596.000000,13.367403,16.570861,7.867352,4.104211,4.110271,5.678193,4.119388,5.225990,6.477387,...,5.718355,4.561767,4.790861,5.199657,5.676314,4.984653,7.099505,10.079284,1.017615e+05,7.201950
std,14200.362883,10.800117,11.787610,2.397432,2.275821,2.329536,2.398084,2.437945,2.801045,2.331468,...,2.628016,3.070548,2.643177,2.563562,2.310659,2.490095,2.469394,1.940928,4.617569e+05,1.997245
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00,0.000000
25%,12298.500000,5.000000,8.000000,7.000000,2.000000,2.000000,4.000000,2.000000,3.000000,5.000000,...,3.000000,1.000000,3.000000,3.000000,4.000000,3.000000,6.000000,10.000000,3.817100e+04,6.000000
50%,24596.000000,10.000000,14.000000,9.000000,4.000000,4.000000,6.000000,4.000000,5.000000,7.000000,...,6.000000,4.000000,5.000000,5.000000,6.000000,5.000000,8.000000,10.000000,7.532000e+04,8.000000
75%,36893.500000,20.000000,24.000000,9.000000,6.000000,6.000000,8.000000,6.000000,8.000000,8.000000,...,8.000000,7.000000,7.000000,7.000000,7.000000,7.000000,9.000000,10.000000,1.205960e+05,8.000000
max,49191.000000,100.000000,100.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,...,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,5.000000e+07,10.000000

In [5]:
schema.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   qid       139 non-null    object
 1   qname     139 non-null    object
 2   question  139 non-null    object
 3   type      139 non-null    object
 4   sub       49 non-null     object
 5   sq_id     49 non-null     float64
dtypes: float64(1), object(5)
memory usage: 6.6+ KB

In [6]:
schema.describe()

           sq_id
count  49.000000
mean    7.000000
std     4.178317
min     1.000000
25%     4.000000
50%     7.000000
75%    10.000000
max    15.000000

# Missing Values & Duplicates

Missing values are expected due to the adaptive nature of the survey.

Duplicates are checked to ensure respondent uniqueness.

At this stage, no aggressive cleaning is applied — decisions are made later based on analytical goals.

In [7]:
public_nan_counter = public.isna().sum()
public_duplicates_counter = public.duplicated().sum()
print(f'Missing values in public dataset:\n{public_nan_counter}')
print(f'Duplicates in public dataset: {public_duplicates_counter}')

Missing values in public dataset:
ResponseId                 0
MainBranch                 0
Age                        0
EdLevel                 1042
Employment               852
                       ...
AIAgentExtWrite        48332
AIHuman                19997
AIOpen                 26651
ConvertedCompYearly    25244
JobSat                 22521
Length: 172, dtype: int64
Duplicates in public dataset: 0

In [8]:
schema_nan_counter = schema.isna().sum()
schema_duplicates_counter = schema.duplicated().sum()
print(f'Missing values in schema dataset:\n{schema_nan_counter}')
print(f'Duplicates in schema dataset: {schema_duplicates_counter}')

Missing values in schema dataset:
qid          0
qname        0
question     0
type         0
sub         90
sq_id       90
dtype: int64
Duplicates in schema dataset: 0

# Preview of the Data

We inspect the first rows of both datasets to understand:

variable formats

categorical value structure

overall data layout

In [9]:
public.head()

,ResponseId,MainBranch,Age,EdLevel,Employment,EmploymentAddl,WorkExp,LearnCodeChoose,LearnCode,LearnCodeAI,...,AIAgentOrchestration,AIAgentOrchWrite,AIAgentObserveSecure,AIAgentObsWrite,AIAgentExternal,AIAgentExtWrite,AIHuman,AIOpen,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,25-34 years old,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed,"Caring for dependents (children, elderly, etc.)",8.0,"Yes, I am not new to coding but am learning ne...",Online Courses or Certification (includes all ...,"Yes, I learned how to use AI-enabled tools for...",...,Vertex AI,NaN,NaN,NaN,ChatGPT,NaN,When I don’t trust AI’s answers,"Troubleshooting, profiling, debugging",61256.0,10.0
1,2,I am a developer by profession,25-34 years old,"Associate degree (A.A., A.S., etc.)",Employed,NaN,2.0,"Yes, I am not new to coding but am learning ne...",Online Courses or Certification (includes all ...,"Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,NaN,NaN,When I don’t trust AI’s answers;When I want to...,All skills. AI is a flop.,104413.0,9.0
2,3,I am a developer by profession,35-44 years old,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",None of the above,10.0,"Yes, I am not new to coding but am learning ne...",Online Courses or Certification (includes all ...,"Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,ChatGPT;Claude Code;GitHub Copilot;Google Gemini,NaN,When I don’t trust AI’s answers;When I want to...,"Understand how things actually work, problem s...",53061.0,8.0
3,4,I am a developer by profession,35-44 years old,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed,None of the above,4.0,"Yes, I am not new to coding but am learning ne...","Other online resources (e.g. standard search, ...","Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,ChatGPT;Claude Code,NaN,When I don’t trust AI’s answers;When I want to...,NaN,36197.0,6.0
4,5,I am a developer by profession,35-44 years old,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...","Caring for dependents (children, elderly, etc.)",21.0,"No, I am not new to coding and did not learn n...",NaN,"Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,NaN,NaN,When I don’t trust AI’s answers,"critical thinking, the skill to define the tas...",60000.0,7.0

In [10]:
schema.head()

,qid,qname,question,type,sub,sq_id
0,QID18,TechEndorse_1,What attracts you to a technology or causes yo...,RO,AI integration or AI Agent capabilities,1.0
1,QID18,TechEndorse_2,What attracts you to a technology or causes yo...,RO,Easy-to-use API,2.0
2,QID18,TechEndorse_3,What attracts you to a technology or causes yo...,RO,Robust and complete API,3.0
3,QID18,TechEndorse_4,What attracts you to a technology or causes yo...,RO,Customizable and manageable codebase,4.0
4,QID18,TechEndorse_5,What attracts you to a technology or causes yo...,RO,Reputation for quality,5.0

# Task 1 — Total Number of Respondents

Each row in the dataset represents one respondent.

We calculate the total number of survey participants.

In [11]:
response_counter = public.shape[0]
print(f'Total number of survey participants: {response_counter}')

Total number of survey participants: 49191

# Task 2 — Survey Completion Analysis

To assess response completeness, we first identify columns that correspond to actual survey questions by finding the intersection between the schema and the main dataset.

This step ensures that only valid survey questions are included in the analysis.

In [12]:
intersection_list = list(set(schema['qname']) & set(public.columns))
print(intersection_list)

['TechEndorse_6', 'Employment', 'SO_Actions_3', 'TechEndorse_7', 'JobSat', 'AIAgentObserveSecure', 'PlatformWantEntry', 'SOTagsHaveEntry', 'SO_Actions_15', 'SO_Actions_16', 'LanguageChoice', 'SO_Actions_5', 'SO_Actions_10', 'Country', 'SOPartFreq', 'TechOppose_5', 'LearnCode', 'AIAgentKnowWrite', 'AIAgentOrchWrite', 'TechOppose_1', 'JobSatPoints_8', 'PlatformHaveEntry', 'TechOppose_15', 'TechEndorseIntro', 'AISent', 'AIModelsHaveEntry', 'TechOppose_3', 'JobSatPoints_4', 'TechOppose_9', 'TechEndorse_1', 'SO_Actions_1', 'SODuration', 'SOTagsWant Entry', 'OfficeStackHaveEntry', 'YearsCode', 'LearnCodeAI', 'LanguagesHaveEntry', 'NewRole', 'SO_Actions_7', 'AIAcc', 'JobSatPoints_5', 'TechEndorse_13', 'TechOppose_13', 'JobSatPoints_9', 'JobSatPoints_14', 'JobSatPoints_13', 'EmploymentAddl', 'AIAgentOrchestration', 'WebframeWantEntry', 'AIAgentExternal', 'TechOppose_11', 'SO_Actions_6', 'TechEndorse_8', 'AILearnHow', 'TechEndorse_5', 'AIHuman', 'CommPlatformHaveEntr', 'TechEndorse_4', 'Currency', 'TechEndorse_9', 'AIComplex', 'AgentUsesGeneral', 'AIModelsWantEntry', 'DevEnvsChoice', 'SO_Actions_15_TEXT', 'DevType', 'JobSatPoints_15', 'LearnCodeChoose', 'AIModelsChoice', 'WebframeChoice', 'JobSatPoints_7', 'SOAccount', 'ICorPM', 'CommPlatformWantEntr', 'TechOppose_16', 'JobSatPoints_6', 'SOFriction', 'WebframeHaveEntry', 'JobSatPoints_16', 'LanguagesWantEntry', 'AIAgent_Uses', 'WorkExp', 'AIAgentExtWrite', 'AIOpen', 'MainBranch', 'PurchaseInfluence', 'CompTotal', 'OrgSize', 'SO_Dev_Content', 'SO_Actions_4', 'TechEndorse_3', 'RemoteWork', 'DevEnvWantEntry', 'AIFrustration', 'JobSatPoints_15_TEXT', 'JobSatPoints_3', 'DatabaseHaveEntry', 'AIExplain', 'DatabaseChoice', 'JobSatPoints_11', 'JobSatPoints_10', 'TechEndorse_13_TEXT', 'JobSatPoints_2', 'AIAgentKnowledge', 'TechOppose_15_TEXT', 'AIAgentChange', 'TechEndorse_2', 'AIAgentObsWrite', 'DatabaseWantEntry', 'AIAgents', 'TechOppose_7', 'AISelect', 'Industry', 'DevEnvHaveEntry', 'ToolCountPersonal', 'Age', 'ToolCountWork', 'OfficeStackWantEntry', 'JobSatPoints_1', 'AIThreat', 'SO_Actions_9', 'SOComm', 'TechOppose_2', 'SOVisitFreq', 'PlatformChoice', 'EdLevel']

We create a subset of the dataset containing only these survey-related columns.

In [13]:
subset = public[intersection_list]
subset

,TechEndorse_6,Employment,SO_Actions_3,TechEndorse_7,JobSat,AIAgentObserveSecure,PlatformWantEntry,SOTagsHaveEntry,SO_Actions_15,SO_Actions_16,...,ToolCountWork,OfficeStackWantEntry,JobSatPoints_1,AIThreat,SO_Actions_9,SOComm,TechOppose_2,SOVisitFreq,PlatformChoice,EdLevel
0,11.0,Employed,6.0,12.0,10.0,NaN,NaN,NaN,15.0,NaN,...,7.0,NaN,3.0,I'm not sure,8.0,Neutral,7.0,A few times per week,Yes,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
1,3.0,Employed,5.0,12.0,9.0,NaN,NaN,NaN,15.0,NaN,...,6.0,NaN,10.0,I'm not sure,9.0,"Yes, somewhat",1.0,Multiple times per day,Yes,"Associate degree (A.A., A.S., etc.)"
2,10.0,"Independent contractor, freelancer, or self-em...",4.0,13.0,8.0,NaN,NaN,NaN,15.0,NaN,...,3.0,NaN,9.0,No,7.0,Neutral,1.0,A few times per week,Yes,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
3,3.0,Employed,4.0,8.0,6.0,NaN,NaN,NaN,15.0,NaN,...,NaN,NaN,1.0,No,8.0,Neutral,5.0,A few times per month or weekly,Yes,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
4,8.0,"Independent contractor, freelancer, or self-em...",7.0,7.0,7.0,NaN,NaN,NaN,15.0,NaN,...,4.0,NaN,9.0,No,10.0,"No, not really",13.0,A few times per month or weekly,Yes,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49186,NaN,Employed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
49187,NaN,Employed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Some college/university study without earning ...
49188,7.0,Employed,NaN,8.0,9.0,NaN,NaN,NaN,NaN,NaN,...,25.0,NaN,3.0,No,NaN,NaN,6.0,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
49189,NaN,"Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)"
49190,NaN,Student,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Some college/university study without earning ...

Finally, we calculate the number of respondents who provided answers to **all survey questions without any missing values**.

This represents a strict measure of fully completed survey responses.

In [14]:
count_response_all_questions = subset.dropna().shape[0]
print(f'Number of respondents who answered all survey questions: {count_response_all_questions}')

Number of respondents who answered all survey questions: 0

## Task 3 — Work Experience Statistics

In this step, we analyze the distribution of respondents’ professional experience using the `WorkExp` variable.

To summarize central tendencies, we calculate the mean, median, and mode of years of work experience.

In [15]:
average_workexp = public['WorkExp'].mean()
median_workexp = public['WorkExp'].median()
mode_workexp = public['WorkExp'].mode()[0]
print(f'Average work experience: {average_workexp:.2f} years')
print(f'Median work experience: {median_workexp} years')
print(f'Mode of work experience: {mode_workexp} years')

Average work experience: 13.37 years
Median work experience: 10.0 years
Mode of work experience: 10.0 years

## Task 4 — Remote Work Analysis

We identify the survey column that contains information about respondents’ work format.

In [16]:
[col for col in public.columns if 'remote' in col.lower()]

['RemoteWork']

Next, we examine the possible values of the `RemoteWork` variable to understand how work arrangements are categorized in the survey.

In [17]:
public['RemoteWork'].unique()

array(['Remote', 'Hybrid (some in-person, leans heavy to flexibility)',
       nan, 'In-person', 'Hybrid (some remote, leans heavy to in-person)',
       'Your choice (very flexible, you can come in when you want or just as needed)'],
      dtype=object)

We filter respondents whose work format is labeled as **Remote** and calculate their total count.

This provides an estimate of the number of fully remote workers in the dataset.

In [18]:
remote_workers = public[public['RemoteWork'] == 'Remote'].shape[0]
print(f'Number of respondents working fully remotely: {remote_workers}')

Number of respondents working fully remotely: 10931

## Task 5 — Python Popularity Analysis

We identify the survey column that contains information about programming languages respondents have worked with.

In [19]:
[col for col in public.columns if 'language' in col.lower()]

['LanguageChoice',
 'LanguageHaveWorkedWith',
 'LanguageWantToWorkWith',
 'LanguageAdmired',
 'LanguagesHaveEntry',
 'LanguagesWantEntry']

Next, we examine the possible values of the `LanguageHaveWorkedWith` variable to understand how languages are reported in the survey.

In [20]:
public['LanguageHaveWorkedWith'].unique()

array(['Bash/Shell (all shells);Dart;SQL', 'Java',
       'Dart;HTML/CSS;JavaScript;TypeScript', ...,
       'Bash/Shell (all shells);C#;C++;GDScript;HTML/CSS;JavaScript;Python;Rust;SQL;Zig;Mojo;Gleam',
       'Bash/Shell (all shells);HTML/CSS;Lisp;PowerShell;Python',
       'Assembly;C#;Go;Java;JavaScript;Rust'],
      shape=(15479,), dtype=object)

We check whether the `LanguageHaveWorkedWith` field contains Python, count the number of such respondents, and calculate their share among all survey participants.

This metric represents Python adoption within the surveyed developer population.

In [21]:
count_python_dev = public['LanguageHaveWorkedWith'].str.contains('Python', case=False, na=False).sum()
python_devs_percents = count_python_dev / public.shape[0] * 100
print(f'Percentage of respondents who have worked with Python: {python_devs_percents:.2f}%')

Percentage of respondents who have worked with Python: 37.54%

## Task 6 — Learning Paths into Programming

We identify the survey column that captures how respondents learned to code.

In [22]:
[col for col in public.columns if 'learn' in col.lower()]

['LearnCodeChoose', 'LearnCode', 'LearnCodeAI', 'AILearnHow']

Next, we examine the possible values of the `LearnCode` variable to understand the different learning pathways reported in the survey.

In [23]:
public['LearnCode'].unique()

array(['Online Courses or Certification (includes all media types);Other online resources (e.g. standard search, forum, online community)',
       'Online Courses or Certification (includes all media types);Other online resources (e.g. standard search, forum, online community);Books / Physical media;Videos (not associated with specific online course or certification);Stack Overflow or Stack Exchange',
       'Online Courses or Certification (includes all media types);Videos (not associated with specific online course or certification);Technical documentation (is generated for/by the tool or system)',
       ...,
       'Other online resources (e.g. standard search, forum, online community);Books / Physical media;Videos (not associated with specific online course or certification);Stack Overflow or Stack Exchange;Technical documentation (is generated for/by the tool or system);Colleague or on-the-job training;Blogs or podcasts;Coding Bootcamp;Games or coding challenges;School (i.e., University, College, etc)',
       'Online Courses or Certification (includes all media types);Other online resources (e.g. standard search, forum, online community);Books / Physical media;AI CodeGen tools or AI-enabled apps;Colleague or on-the-job training',
       'Online Courses or Certification (includes all media types);Stack Overflow or Stack Exchange;Blogs or podcasts;Games or coding challenges;School (i.e., University, College, etc)'],
      shape=(2768,), dtype=object)

We filter respondents who selected **Online courses** as one of their learning methods and calculate their total count.

This metric highlights the prevalence of online education among survey participants.

In [24]:
online_courses_ed = public['LearnCode'].str.contains('Online courses', case=False, na=False).sum()
print(f'Number of respondents who learned programming through online courses: {online_courses_ed}')

Number of respondents who learned programming through online courses: 10973

## Task 7 — Geographic Analysis of Python Developers’ Compensation

We identify the survey column that contains information about respondents’ country of residence.

In [25]:
[col for col in public.columns if 'country' in col.lower()]

['Country']

We filter respondents who have worked with Python and create a dedicated dataset containing their response ID, country, and annual compensation.

In [26]:
mask_python_devs = public['LanguageHaveWorkedWith'].str.contains('Python', case=False, na=False)
python_devs = public[mask_python_devs]
devs = python_devs[['ResponseId','LanguageHaveWorkedWith','Country','ConvertedCompYearly']].reset_index(drop=True)
devs.head()

,ResponseId,LanguageHaveWorkedWith,Country,ConvertedCompYearly
0,5,C;C#;C++;Delphi;HTML/CSS;Java;JavaScript;Lua;P...,Ukraine,60000.0
1,8,Bash/Shell (all shells);HTML/CSS;JavaScript;Py...,Ukraine,72000.0
2,9,Java;Python;Scala,Ukraine,70000.0
3,16,Ada;Assembly;C;C#;C++;COBOL;Dart;Delphi;Elixir...,India,NaN
4,18,HTML/CSS;JavaScript;Python;SQL,Greece,NaN

Next, we group Python developers by country and calculate the **mean** and **median** annual compensation for each country.

Median values are included to reduce the impact of extreme outliers.

In [27]:
grouped_devs = devs.groupby('Country')['ConvertedCompYearly'].agg(['mean','median'])
grouped_devs

                                               mean    median
Country
Afghanistan                            22328.666667    1000.0
Albania                                47217.600000   50000.0
Algeria                                20187.285714    7088.0
Andorra                               226103.500000  226103.5
Angola                                          NaN       NaN
...                                             ...       ...
Venezuela, Bolivarian Republic of...    9908.647059    3000.0
Viet Nam                              218837.166667    8254.0
Yemen                                  32929.500000   23672.0
Zambia                                  5424.250000    3206.0
Zimbabwe                               34000.000000   25500.0

[167 rows x 2 columns]

## Task 8 — Education Levels of Top-Paid Developers

We identify the survey column that contains information about respondents’ highest level of education.

In [28]:
[col for col in public.columns if 'ed' in col.lower()]

['EdLevel',
 'LanguageHaveWorkedWith',
 'LanguageAdmired',
 'DatabaseHaveWorkedWith',
 'DatabaseAdmired',
 'PlatformHaveWorkedWith',
 'PlatformAdmired',
 'WebframeHaveWorkedWith',
 'WebframeAdmired',
 'DevEnvsHaveWorkedWith',
 'DevEnvsAdmired',
 'SOTagsHaveWorkedWith',
 'SOTagsAdmired',
 'OfficeStackAsyncHaveWorkedWith',
 'OfficeStackAsyncAdmired',
 'CommPlatformHaveWorkedWith',
 'CommPlatformAdmired',
 'AIModelsHaveWorkedWith',
 'AIModelsAdmired',
 'AIAgentKnowledge',
 'ConvertedCompYearly']

We select the five respondents with the highest annual compensation and examine their reported education levels.

This step provides an illustrative view of educational backgrounds among the highest-paid developers.

In [29]:
top5 = (public[['ResponseId','EdLevel','ConvertedCompYearly']].dropna(subset=['ConvertedCompYearly']).sort_values('ConvertedCompYearly', ascending=False).head(5))
top5

,ResponseId,EdLevel,ConvertedCompYearly
34267,34268,"Associate degree (A.A., A.S., etc.)",50000000.0
28700,28701,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",33552715.0
43143,43144,"Associate degree (A.A., A.S., etc.)",18387548.0
35353,35354,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",15430267.0
45971,45972,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",13921760.0

## Task 9 — Python Popularity by Age Group

We identify the survey column that contains information about respondents’ age groups.

In [30]:
[col for col in public.columns if 'age' in col.lower()]

['Age',
 'LanguageChoice',
 'LanguageHaveWorkedWith',
 'LanguageWantToWorkWith',
 'LanguageAdmired',
 'LanguagesHaveEntry',
 'LanguagesWantEntry',
 'AIAgents',
 'AIAgentChange',
 'AIAgent_Uses',
 'AgentUsesGeneral',
 'AIAgentImpactSomewhat agree',
 'AIAgentImpactNeutral',
 'AIAgentImpactSomewhat disagree',
 'AIAgentImpactStrongly agree',
 'AIAgentImpactStrongly disagree',
 'AIAgentChallengesNeutral',
 'AIAgentChallengesSomewhat disagree',
 'AIAgentChallengesStrongly agree',
 'AIAgentChallengesSomewhat agree',
 'AIAgentChallengesStrongly disagree',
 'AIAgentKnowledge',
 'AIAgentKnowWrite',
 'AIAgentOrchestration',
 'AIAgentOrchWrite',
 'AIAgentObserveSecure',
 'AIAgentObsWrite',
 'AIAgentExternal',
 'AIAgentExtWrite']

We calculate the total number of respondents in each age category and the share of those who have worked with Python.

The resulting percentages represent Python adoption within each age group.

In [31]:
total_by_age = public['Age'].value_counts()
python_by_age = python_devs['Age'].value_counts()
python_devs_by_age = python_by_age / total_by_age * 100
print('Age Group — Percentage of Python Developers')
for age, percent in python_devs_by_age.items():
    print(f'{age}: {percent:.2f}%')

Age Group — Percentage of Python Developers
25-34 years old: 36.94%
35-44 years old: 36.72%
18-24 years old: 40.00%
45-54 years old: 38.63%
55-64 years old: 37.24%
65 years or older: 31.63%
Prefer not to say: 31.22%

## Task 10 — Industries of High-Paid Remote Developers

We identify the survey column that contains information about the industry in which respondents work.

In [32]:
[col for col in public.columns if 'industry' in col.lower()]

['Industry']

To define a high-compensation threshold, we calculate the 75th percentile of annual compensation.

In [33]:
Q3 = public['ConvertedCompYearly'].quantile(0.75)

We filter respondents whose annual compensation exceeds this threshold and who work fully remotely.

Finally, we identify the top 10 most common industries within this high-paid remote segment.

In [34]:
high_paid_devs_mask = (public['ConvertedCompYearly'] > Q3) & (public['RemoteWork'] == 'Remote')
high_paid_devs = public[high_paid_devs_mask]
high_paid_devs['Industry'].value_counts().head(10)

Industry
Software Development                          1186
Fintech                                        190
Healthcare                                     188
Other:                                         176
Internet, Telecomm or Information Services     138
Banking/Financial Services                      88
Government                                      78
Media & Advertising Services                    75
Retail and Consumer Services                    65
Transportation, or Supply Chain                 63
Name: count, dtype: int64

# Key Insights

1. Data Structure and Quality

The survey contains a large and diverse sample of respondents. Partial responses are expected due to the adaptive nature of the questionnaire and do not negatively impact the overall analytical validity of the dataset.

2. Work Models

Fully remote work represents a minority of respondents. The developer job market continues to balance between hybrid and on-site work models rather than shifting entirely to remote-first structures.

3. Python Popularity

Python remains consistently popular across all age groups, with the highest adoption observed among younger developers (18–24). This indicates a strong future talent pipeline and sustained relevance of Python in the developer ecosystem.

4. Education and Learning Paths

Online courses are one of the most widely used pathways into programming, with more than 10,000 respondents reporting them as a learning method. This confirms the growing role of flexible and alternative education models that complement or partially replace traditional higher education.

5. Compensation of Python Developers

Annual compensation varies significantly across countries. Geographic location remains a key driver of salary expectations, even within the same skill set and programming language.

6. Top-Paid Developers

Among the highest-paid respondents, there is no single dominant educational background. Formal education alone does not appear to be a decisive factor for achieving top compensation levels.

7. Industries of High-Paid Remote Developers

High-paid fully remote developers are predominantly concentrated in Software Development, making it the core industry for remote work models. Notable representation is also observed in FinTech and technology-driven roles within the Healthcare sector, where digital and AI solutions are rapidly expanding.

## Summary

The global developer market demonstrates stable Python adoption, strong demand for online learning, and gradual but consistent growth of remote work. Compensation is primarily influenced by geography, skills, and industry rather than formal education level.

#  Feature engineering for Tableau

In this section, we prepare a clean, BI-ready dataset optimized for visualization and analysis in Tableau.

The goal is to transform raw survey responses into analytically meaningful features while preserving one row per respondent.

In [35]:
df = public.copy()

Several binary indicators are created to simplify aggregation and filtering in Tableau:
- **is_python** — whether the respondent has worked with Python
- **is_remote** — whether the respondent works fully remotely
- **learn_online_courses** — whether online courses were used as a learning method

In [36]:
df['is_python'] = df['LanguageHaveWorkedWith'].str.contains('Python', case=False, na=False).astype(int)
df['is_remote'] = (df['RemoteWork'] == 'Remote').astype(int)
df['learn_online_courses'] = df['LearnCode'].str.contains('Online courses', case=False, na=False).astype(int)

To ensure reliable compensation analysis:
- respondents with missing or non-positive annual compensation are excluded
- compensation tiers are defined using quartiles:
  - **Low** — below the 25th percentile
  - **Mid** — between the 25th and 75th percentiles
  - **High** — above the 75th percentile

In [37]:
df = df[df['ConvertedCompYearly'].notna() & (df['ConvertedCompYearly'] > 0)]

In [38]:
q1 = df['ConvertedCompYearly'].quantile(0.25)
q3 = df['ConvertedCompYearly'].quantile(0.75)

def comp_tier(x):
    if x < q1:
        return 'Low'
    elif x <= q3:
        return 'Mid'
    else:
        return 'High'

df['comp_tier'] = df['ConvertedCompYearly'].apply(comp_tier)

A **completion rate** is calculated for each respondent as the proportion of answered survey questions.

This metric provides an additional indicator of response completeness without excluding partially completed surveys.

In [39]:
question_cols = intersection_list
df['completion_rate'] = 1 - df[question_cols].isna().mean(axis=1)

The final dataset contains one row per respondent and includes:
- demographic attributes
- work characteristics
- compensation metrics
- derived analytical features

The processed data is exported as `respondents_2025_clean.csv` and serves as the single source of truth for Tableau dashboards.

In [40]:
final_cols = [
    'ResponseId','Country','Age','Industry','EdLevel',
    'RemoteWork','WorkExp',
    'is_remote','is_python','learn_online_courses',
    'ConvertedCompYearly','comp_tier','completion_rate'
]

final_df = df[final_cols]

Note: The Tableau dashboard is based on a filtered subset of respondents with valid annual compensation values. As a result, total respondent counts in Tableau differ from the full survey sample used in the exploratory analysis.